[submodule "frontend/hydra-functions"]
	path = frontend/hydra-functions
	url = ../hydra-functions.git
	branch = main
[submodule "frontend/hydra-docs"]
	path = frontend/hydra-docs
	url = ../hydra-docs.git
	branch = main
[submodule "frontend/hydra-garden"]
	path = frontend/hydra-garden
	url = ../hydra-garden.git
