body {
  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

main {
  height: fit-content;
}

body, .sidebar {
  background-color: white;
  color: black;
}

.CodeMirror {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* docsify */

.external {
  width: 12pt;
  height: 12pt;
  margin-left: 4px;
  margin-right: 4px;
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown-section em {
  color: #cccccc;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section strong {
  color: black;
  font-weight: 700;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4 {
  text-transform: uppercase;
}

.sidebar ul li a {
  color: black;
}

.anchor span {
  color: black;
}

.markdown-section pre[data-lang=javascript] {
  margin-top: 512px;
}

.markdown-section code, .markdown-section pre {
  background-color: white;
  font-family: monospace,courier;
  border: solid black 2px;
  color: var(--theme-color,#42b983);
}

.markdown-section pre > code {
  color: var(--theme-color,#42b983);
  background-color: white;
  border: none;
}

.token.function {
  color: var(--theme-color,#42b983);
}
.token.number {
  color: #a16a94;
}
.token.punctuation {
  color: #cccccc;
}
.token.operator {
  color: #cccccc;
}
.token.parameter {
  color: #f99157;
}
.token.keyword {
  color: #f2777a;
}
.token.string {
  color: #ffcc66;
}
